.github/* @MaxJPRey @maxcapodi78 @Samuelopez-ansys

/_unittest/test_26_emit.py @jsalant22 @myoung301
/pyaedt/emit.py @jsalant22 @myoung301
/pyaedt/emit_core/ @jsalant22 @myoung301
/pyaedt/modeler/circuits/PrimitivesEmit.py @jsalant22 @myoung301
/examples/07-EMIT/ @jsalant22 @myoung301