ci:
    autofix_commit_msg: 'CHORE: Auto fixes from pre-commit hooks'
    autoupdate_branch: 'chore/pre-commit-autoupdate'
    autoupdate_commit_msg: 'CHORE: Pre-commit automatic update'
    autoupdate_schedule: weekly

files: |
    (?x)(
        ^src/ansys/aedt/core/|
        tests/
    )
exclude: |
    (?x)(
        ^src/ansys/aedt/core/rpc/|
        ^src/ansys/aedt/core/sbrplus/matlab/|
        ^src/ansys/aedt/core/extensions/installer|
        tests/system/general/example_models/|
        tests/system/visualization/example_models/|
        tests/system/extensions/example_models/|
        tests/system/solvers/example_models/|
        tests/system/solvers/sequential/example_models/
    )

repos:

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.10
  hooks:
    - id: ruff-check
    - id: ruff-format
    
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
      args: ["--ignore-words", "doc/styles/config/vocabularies/ANSYS/accept.txt"]
      additional_dependencies:
        - tomli

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: debug-statements
    - id: trailing-whitespace

# validate GitHub workflow files
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.33.0
  hooks:
    - id: check-github-workflows

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.19.1
  hooks:
    - id: blacken-docs
      additional_dependencies: [black==25.1.0]

# This validates our pre-commit.ci configuration
- repo: https://github.com/pre-commit-ci/pre-commit-ci-config
  rev: v1.6.1
  hooks:
    - id: check-pre-commit-ci-config

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.4.4
  hooks:
    - id: add-license-headers
      files: '(src|examples|tests)/.*\.(py)'
      args:
      - --custom_template=mit_license.jinja2
      - --start_year=2021
