files: |
    (?x)(
        ^pyaedt/|
        _unittest/
    )
exclude: |
    (?x)(
        ^pyaedt/dlls/|
        ^pyaedt/rpc/|
        ^pyaedt/third_party/|
        pyaedt/conftest.py|
        _unittest/example_models/
    )
repos:
- repo: https://github.com/psf/black
  rev: 22.1.0
  hooks:
  - id: black
    args:
      - --line-length=120
- repo: https://github.com/asottile/reorder_python_imports
  rev: v3.0.1
  hooks:
  - id: reorder-python-imports
    args: 
    - --py37-plus
- repo: https://gitlab.com/PyCQA/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    args:
      - --max-line-length=120
- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    args: ["--ignore-words=ignore_words.txt"]
# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     files: ^pyaedt/
#     args: ["--ignore=D205,D100,D213"]
#     additional_dependencies: [toml]
