[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"


[project]
name = "pyaedt"
dynamic = ["version"]
description = "Higher-Level Pythonic Ansys Electronics Desktop Framework"
readme = "README.md"
requires-python = ">=3.7,<4"
license = {file = "LICENSE"}
authors = [{name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"}]
maintainers = [{name = "PyAEDT developers", email = "massimo.capodiferro@ansys.com"}]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]

dependencies = [
    "cffi == 1.15.1;platform_system=='Linux'",
    "pywin32 >= 303;platform_system=='Windows'",
    "pythonnet == 3.0.1",
    "rpyc==5.3.1",
    "psutil",
    "dotnetcore2 ==3.1.23;platform_system=='Linux'",
]

[project.optional-dependencies]
tests = [
    "ipython==8.13.0; python_version < '3.9'",
    "ipython==8.14.0; python_version >= '3.9'",
    "imageio==2.31.1",
    "joblib==1.3.1",
    "matplotlib==3.5.3; python_version <= '3.7'",
    "matplotlib==3.7.2; python_version > '3.7'",
    "numpy==1.21.6; python_version <= '3.9'",
    "numpy==1.25.1; python_version > '3.9'",
    "openpyxl==3.1.2",
    "osmnx",
    "pandas==1.3.5; python_version <= '3.7'",
    "pandas==2.0.3; python_version > '3.7'",
    "pytest==7.4.0",
    "pytest-cov==4.1.0",
    "pytest-xdist==3.3.1",
    "pyvista==0.40.1; python_version > '3.7'",
    "pyvista==0.38.0; python_version <= '3.7'",
    "scikit-learn==1.3.0",
    "SRTM.py",
    "utm",
    "scikit-rf",

]
doc = [
    "ansys-sphinx-theme==0.9.9",
    "imageio==2.31.1",
    "imageio-ffmpeg==0.4.8",
    "ipython==8.13.0; python_version < '3.9'",
    "ipython==8.14.0; python_version >= '3.9'",
    "ipywidgets==8.0.7",
    "joblib==1.3.1",
    "jupyterlab==4.0.3",
    "matplotlib==3.5.3; python_version <= '3.7'",
    "matplotlib==3.7.2; python_version > '3.7'",
    "nbsphinx==0.9.2",
    "numpydoc==1.5.0",
    "osmnx",
    "pypandoc==1.11",
    "pytest-sphinx==0.5.0",
    "pyvista==0.40.1; python_version > '3.7'",
    "pyvista==0.38.0; python_version <= '3.7'",
    "recommonmark==0.7.1",
    "scikit-learn==1.3.0",
    "Sphinx==7.0.1",
    "sphinx-autobuild==2021.3.14",
    "sphinx-autodoc-typehints==1.23.3",
    "sphinx-copybutton==0.5.2",
    "sphinx-gallery==0.13.0",
    "sphinx-notfound-page==0.8.3",
    "sphinxcontrib-websupport==1.2.4",
    "SRTM.py",
    "utm",
    "scikit-rf",
    "openpyxl==3.1.2",
]
full = [
    "imageio",
    "matplotlib==3.5.3; python_version <= '3.7'",
    "matplotlib==3.7.2; python_version > '3.7'",
    "numpy==1.21.6; python_version <= '3.9'",
    "numpy==1.25.1; python_version > '3.9'",
    "pandas==1.3.5; python_version <= '3.7'",
    "pandas==2.0.3; python_version > '3.7'",
    "osmnx",
    "pyvista==0.40.1; python_version > '3.7'",
    "pyvista==0.38.0; python_version <= '3.7'",
    "SRTM.py",
    "utm",
    "scikit-rf",
    "openpyxl==3.1.2",
]
all = [
    "imageio",
    "matplotlib==3.5.3; python_version <= '3.7'",
    "matplotlib==3.7.2; python_version > '3.7'",
    "numpy==1.21.6; python_version <= '3.9'",
    "numpy==1.25.1; python_version > '3.9'",
    "pandas==1.3.5; python_version <= '3.7'",
    "pandas==2.0.3; python_version > '3.7'",
    "osmnx",
    "pyvista==0.40.1; python_version > '3.7'",
    "pyvista==0.38.0; python_version <= '3.7'",
    "SRTM.py",
    "utm",
    "scikit-rf",
    "openpyxl==3.1.2",
]

[tool.flit.module]
name = "pyaedt"

[project.urls]
"Bug Tracker" = "https://github.com/pyansys/pyaedt/issues"
"Documentation" = "https://aedt.docs.pyansys.com"
"Source Code" = "https://github.com/pyansys/pyaedt"

[tool.black]
line-length = 120

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 120
default_section = "THIRDPARTY"
src_paths = ["doc", "pyaedt", "_unittests"]

[tool.coverage.run]
source = ["pyaedt"]

[tool.coverage.report]
show_missing = true

[tool.pytest.ini_options]
minversion = "7.1"
addopts = "-ra --cov=pyaedt --cov-report html:.cov/html --cov-report xml:.cov/xml --cov-report term -vv"
testpaths = [
    "_unittest",
]



