[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"


[project]
name = "pyaedt"
dynamic = ["version"]
description = "Higher-Level Pythonic Ansys Electronics Desktop Framework"
readme = "README.md"
requires-python = ">=3.7,<4"
license = {file = "LICENSE"}
authors = [{name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"}]
maintainers = [{name = "PyAEDT developers", email = "massimo.capodiferro@ansys.com"}]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]

dependencies = [
    "cffi == 1.15.1;platform_system=='Linux' and python_version == '3.7'",
    "cffi == 1.16.0;platform_system=='Linux' and python_version > '3.7'",
    "pywin32 >= 303;platform_system=='Windows'",
    "ansys-pythonnet>=3.1.0rc3",
    "rpyc==5.3.1",
    "psutil",
    "dotnetcore2 ==3.1.23;platform_system=='Linux'",
    "fpdf2"
]

[project.optional-dependencies]
tests = [
    "ipython==8.13.0; python_version < '3.9'",
    "ipython==8.16.1; python_version >= '3.9'",
    "imageio==2.31.5",
    "joblib==1.3.2",
    "matplotlib==3.5.3; python_version == '3.7'",
    "matplotlib==3.7.3; python_version == '3.8'",
    "matplotlib==3.8.0; python_version > '3.8'",
    "numpy==1.21.6; python_version <= '3.9'",
    "numpy==1.26.0; python_version > '3.9'",
    "mock",
    "openpyxl==3.1.2",
    "osmnx",
    "pandas==1.3.5; python_version == '3.7'",
    "pandas==2.0.3; python_version == '3.8'",
    "pandas==2.1.1; python_version > '3.9'",
    "pytest==7.4.2",
    "pytest-cov==4.1.0",
    "pytest-xdist==3.3.1",
    "vtk==9.2.6",
    "pyvista==0.38.0; python_version <= '3.7'",
    "pyvista==0.42.2; python_version > '3.7'",
    "scikit-learn==1.3.0; python_version == '3.7'",
    "scikit-learn==1.3.1; python_version > '3.7'",
    "SRTM.py",
    "utm",
    "scikit-rf",
    "jsonschema",
]
doc = [
    "ansys-sphinx-theme==0.12.2",
    "imageio==2.31.5",
    "imageio-ffmpeg==0.4.9",
    "ipython==8.13.0; python_version < '3.9'",
    "ipython==8.16.1; python_version >= '3.9'",
    "ipywidgets==8.1.1",
    "joblib==1.3.2",
    "jupyterlab==4.0.6",
    "matplotlib==3.5.3; python_version == '3.7'",
    "matplotlib==3.7.3; python_version == '3.8'",
    "matplotlib==3.8.0; python_version > '3.8'",
    "nbsphinx==0.9.3",
    "numpydoc==1.5.0; python_version == '3.7'",
    "numpydoc==1.6.0; python_version > '3.7'",
    "osmnx",
    "pypandoc==1.11",
    "pytest-sphinx==0.5.0",
    "vtk==9.2.6",
    "pyvista==0.42.2; python_version > '3.7'",
    "pyvista==0.38.0; python_version <= '3.7'",
    "recommonmark==0.7.1",
    "scikit-learn==1.3.0; python_version == '3.7'",
    "scikit-learn==1.3.1; python_version > '3.7'",
    "Sphinx==7.1.2; python_version <= '3.9'",
    "Sphinx==7.2.6; python_version >= '3.9'",
    "sphinx-autobuild==2021.3.14",
    "sphinx-autodoc-typehints==1.24.0",
    "sphinx-copybutton==0.5.2",
    "sphinx-gallery==0.14.0",
    "sphinx-notfound-page==1.0.0",
    "sphinxcontrib-websupport==1.2.4; python_version <= '3.9'",
    "sphinxcontrib-websupport==1.2.5; python_version <= '3.7'",
    "SRTM.py",
    "utm",
    "scikit-rf",
    "openpyxl==3.1.2",
    "sphinx_design",
    "sphinx_jinja",
]
full = [
    "imageio",
    "matplotlib==3.5.3; python_version == '3.7'",
    "matplotlib==3.7.3; python_version == '3.8'",
    "matplotlib==3.8.0; python_version > '3.8'",
    "numpy==1.21.6; python_version <= '3.9'",
    "numpy==1.26.0; python_version > '3.9'",
    "pandas==1.3.5; python_version == '3.7'",
    "pandas==2.0.3; python_version == '3.8'",
    "pandas==2.1.1; python_version > '3.9'",
    "osmnx",
    "vtk==9.2.6",
    "pyvista==0.42.2; python_version > '3.7'",
    "pyvista==0.38.0; python_version <= '3.7'",
    "SRTM.py",
    "utm",
    "scikit-rf",
    "openpyxl==3.1.2",
]
all = [
    "imageio",
    "matplotlib==3.5.3; python_version == '3.7'",
    "matplotlib==3.7.3; python_version == '3.8'",
    "matplotlib==3.8.0; python_version > '3.8'",
    "numpy==1.21.6; python_version <= '3.9'",
    "numpy==1.26.0; python_version > '3.9'",
    "pandas==1.3.5; python_version == '3.7'",
    "pandas==2.0.3; python_version == '3.9'",
    "pandas==2.0.3; python_version == '3.8'",
    "pandas==2.1.1; python_version > '3.9'",
    "osmnx",
    "vtk==9.2.6",
    "pyvista==0.42.2; python_version > '3.7'",
    "pyvista==0.38.0; python_version <= '3.7'",
    "SRTM.py",
    "utm",
    "scikit-rf",
    "openpyxl==3.1.2",
]

[tool.flit.module]
name = "pyaedt"

[project.urls]
Bugs = "https://github.com/ansys/pyaedt/issues"
Documentation = "https://aedt.docs.pyansys.com"
Source = "https://github.com/ansys/pyaedt"
Discussions = "https://github.com/ansys/pyaedt/discussions"
Releases = "https://github.com/ansys/pyaedt/releases"

[tool.black]
line-length = 120

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 120
default_section = "THIRDPARTY"
src_paths = ["doc", "pyaedt", "_unittests"]

[tool.codespell]
ignore-words = "ignore_words.txt"
skip = """
*.pyc,*.aedt,*.xml,*.txt,*.gif,*.png,*.jpg,*.js,*.html,*.doctree,*.ttf,*.woff,*.woff2,*.eot,*.mp4,*.inv,*.pickle,\
*.ipynb,flycheck*,./.git/*,./.hypothesis/*,*.yml,./docs/build/*,./docs/images/*,./dist/*,*~,.hypothesis*,\
./pyaedt/third_party,./docs/source/examples/*,*cover,*.dat,*.mac,PKG-INFO,*.mypy_cache/*,*.xml,*.aedt,*.svg
"""
enable-colors = true

[tool.coverage.run]
source = ["pyaedt"]

[tool.coverage.report]
show_missing = true

[tool.pytest.ini_options]
minversion = "7.1"
addopts = "-ra --cov=pyaedt --cov-report html:.cov/html --cov-report xml:.cov/xml --cov-report term -vv"
testpaths = [
    "_unittest",
]

[tool.numpydoc_validation]
checks = [
    "GL06",  # Found unknown section
    "GL07",  # Sections are in the wrong order.
    "GL08",  # The object does not have a docstring
    "GL09",  # Deprecation warning should precede extended summary
    "GL10",  # reST directives {directives} must be followed by two colons
    # Return
    "RT04", # Return value description should start with a capital letter"
    "RT05", # Return value description should finish with "."
    # Summary
    "SS01",  # No summary found
    "SS02",  # Summary does not start with a capital letter
    "SS03",  # Summary does not end with a period
    "SS04",  # Summary contains heading whitespaces
    "SS05",  # Summary must start with infinitive verb, not third person
    # Parameters
    "PR10",  # Parameter "{param_name}" requires a space before the colon
    # separating the parameter name and type",
]
exclude = [
    '\.AEDTMessageManager.add_message$',  # bad SS05
    '\.Modeler3D\.create_choke$',  # bad RT05
    '\._unittest',  # missing docstring for tests
    'HistoryProps.',  # bad RT05 because of the base class named OrderedDict
]