recommonmark
matplotlib
imageio>=2.5.0
imageio-ffmpeg
pyvista
numpy
Sphinx==4.0.3
sphinx-autobuild
https://github.com/numpy/numpydoc/archive/main.zip  # need latest
sphinxcontrib-websupport
pytest-sphinx
sphinx-notfound-page>=0.3.0
sphinx-copybutton
sphinx-gallery>=0.8.1
sphinx-autodoc-typehints
pyansys_sphinx_theme
pypandoc
nbsphinx
ipywidgets
