recommonmark
matplotlib
imageio>=2.5.0
imageio-ffmpeg
pyvista<=0.33.3
numpy
numpydoc
Sphinx==4.5.0
sphinx-autobuild
sphinxcontrib-websupport
pytest-sphinx
sphinx-notfound-page>=0.3.0
sphinx-copybutton
sphinx-gallery>=0.8.1
sphinx-autodoc-typehints
pyansys_sphinx_theme
pypandoc
nbsphinx
ipywidgets
