# #############################################################################
# requirements
# #############################################################################
cff1==1.15.0; python_version > '3.6' and sys_platform == 'linux'
# https://github.com/tomerfiliba-org/rpyc
# License: MIT

pywin32==303; python_version > '3.6'
# https://github.com/mhammond/pywin32
# License: PSF

pythonnet==3.0.0rc4; python_version > '3.6'
# https://github.com/pythonnet/pythonnet
# License: MIT

rpyc==5.0.1; python_version > '3.6'
# https://github.com/tomerfiliba-org/rpyc
# License: MIT

dotnetcore2==3.1.23; python_version > '3.6' and sys_platform == 'linux'
# https://github.com/tomerfiliba-org/rpyc
# License: MIT

# #############################################################################
# optional
# #############################################################################

pyvista==0.36.1; python_version > '3.6'
# License: MIT

matplotlib==3.5.3; python_version > '3.6'
# License: https://github.com/matplotlib/matplotlib/blob/master/LICENSE/LICENSE
# License: PSF

numpy==1.21.6; python_version <= '3.7'
numpy==1.23.1; python_version > '3.7'
# License: BSD-3-Clause License

ipython==8.4.0; python_version > '3.6'
# License: BSD-3-Clause License

jupyterlab==3.4.4; python_version > '3.6'
# License: BSD-3-Clause License

psutil==5.9.1; python_version > '3.6'
# License: BSD-3-Clause License

