# #############################################################################
# requirements
# #############################################################################
pywin32==303; python_version > '2.7'
# https://github.com/mhammond/pywin32
# License: PSF

pythonnet==2.5.2; python_version > '2.7'
# https://github.com/pythonnet/pythonnet
# License: MIT

rpyc==5.0.1; python_version > '2.7'
# https://github.com/tomerfiliba-org/rpyc
# License: MIT

# #############################################################################
# optional
# #############################################################################

pyvista==0.34.1; python_version > '2.7'
# License: MIT

matplotlib==3.5.2
# License: https://github.com/matplotlib/matplotlib/blob/master/LICENSE/LICENSE
# License: PSF

numpy==1.22.4
# License: BSD-3-Clause License

ipython==8.3.0
# License: BSD-3-Clause License

jupyterlab==3.4.2
# License: BSD-3-Clause License
