# #############################################################################
# requirements
# #############################################################################
pywin32 >= 303; python_version > '2.7'
# https://github.com/mhammond/pywin32
# License: PSF

pythonnet >= 2.4.0; python_version > '2.7'
# https://github.com/pythonnet/pythonnet
# License: MIT

rpyc >= 5.0.1; python_version > '2.7'
# https://github.com/tomerfiliba-org/rpyc
# License: MIT

# #############################################################################
# optional
# #############################################################################

pyvista
# License: MIT

matplotlib
# License: https://github.com/matplotlib/matplotlib/blob/master/LICENSE/LICENSE
# License: PSF

numpy
# License: BSD-3-Clause License

ipython
# License: BSD-3-Clause License