################################################################################
# MODULE: CalcICN
# GENERATED ON 20220726211227
################################################################################

# INPARRY: INPARRY
INPARRY = E:/AnsysDEV/Parts/develop/EDT_SPISIM/tstone/FCI_CC_Long_Link_Pair_1_to_Pair_9/EvenOdd_Port_Order/FCI_CC_Long_Link_Pair_11_to_Pair_9_NEXT.s4p,\
E:/AnsysDEV/Parts/develop/EDT_SPISIM/tstone/FCI_CC_Long_Link_Pair_1_to_Pair_9/EvenOdd_Port_Order/FCI_CC_Long_Link_Pair_12_to_Pair_9_NEXT.s4p,\
E:/AnsysDEV/Parts/develop/EDT_SPISIM/tstone/FCI_CC_Long_Link_Pair_1_to_Pair_9/EvenOdd_Port_Order/FCI_CC_Long_Link_Pair_14_to_Pair_9_NEXT.s4p,\
E:/AnsysDEV/Parts/develop/EDT_SPISIM/tstone/FCI_CC_Long_Link_Pair_1_to_Pair_9/EvenOdd_Port_Order/FCI_CC_Long_Link_Pair_15_to_Pair_9_NEXT.s4p,\
E:/AnsysDEV/Parts/develop/EDT_SPISIM/tstone/FCI_CC_Long_Link_Pair_1_to_Pair_9/EvenOdd_Port_Order/FCI_CC_Long_Link_Pair_2_to_Pair_9_FEXT.s4p,\
E:/AnsysDEV/Parts/develop/EDT_SPISIM/tstone/FCI_CC_Long_Link_Pair_1_to_Pair_9/EvenOdd_Port_Order/FCI_CC_Long_Link_Pair_5_to_Pair_9_FEXT.s4p,\
E:/AnsysDEV/Parts/develop/EDT_SPISIM/tstone/FCI_CC_Long_Link_Pair_1_to_Pair_9/EvenOdd_Port_Order/FCI_CC_Long_Link_Pair_8_to_Pair_9_FEXT.s4p
# MIXMODE: MIXMODE
MIXMODE = INCREMENTAL
# NEXTSRC: NEXTSRC
NEXTSRC = E:/AnsysDEV/Parts/develop/EDT_SPISIM/tstone/FCI_CC_Long_Link_Pair_1_to_Pair_9/EvenOdd_Port_Order/FCI_CC_Long_Link_Pair_15_to_Pair_9_NEXT.s4p;E:/AnsysDEV/Parts/develop/EDT_SPISIM/tstone/FCI_CC_Long_Link_Pair_1_to_Pair_9/EvenOdd_Port_Order/FCI_CC_Long_Link_Pair_11_to_Pair_9_NEXT.s4p;E:/AnsysDEV/Parts/develop/EDT_SPISIM/tstone/FCI_CC_Long_Link_Pair_1_to_Pair_9/EvenOdd_Port_Order/FCI_CC_Long_Link_Pair_14_to_Pair_9_NEXT.s4p;E:/AnsysDEV/Parts/develop/EDT_SPISIM/tstone/FCI_CC_Long_Link_Pair_1_to_Pair_9/EvenOdd_Port_Order/FCI_CC_Long_Link_Pair_12_to_Pair_9_NEXT.s4p
# FEXTSRC: FEXTSRC
FEXTSRC = E:/AnsysDEV/Parts/develop/EDT_SPISIM/tstone/FCI_CC_Long_Link_Pair_1_to_Pair_9/EvenOdd_Port_Order/FCI_CC_Long_Link_Pair_5_to_Pair_9_FEXT.s4p;E:/AnsysDEV/Parts/develop/EDT_SPISIM/tstone/FCI_CC_Long_Link_Pair_1_to_Pair_9/EvenOdd_Port_Order/FCI_CC_Long_Link_Pair_8_to_Pair_9_FEXT.s4p;E:/AnsysDEV/Parts/develop/EDT_SPISIM/tstone/FCI_CC_Long_Link_Pair_1_to_Pair_9/EvenOdd_Port_Order/FCI_CC_Long_Link_Pair_2_to_Pair_9_FEXT.s4p
# VICTSRC: VICTSRC
VICTSRC = 
# MAXFREQ: MAXFREQ
MAXFREQ = 2.578125E10
