codecov==2.1.12
ipython==8.7.0
joblib==1.2.0
matplotlib==3.6.2
numpy==1.21.6; python_version <= '3.7'
numpy==1.24.0; python_version > '3.7'
openpyxl==3.0.10
pandas==1.5.2
pytest==7.2.0
pytest-cov==4.0.0
pytest-xdist==3.1.0
pyvista==0.37.0
scikit-learn==1.2.0
sklearn==0.0.post1
