@import "../ansys-sphinx-theme.css";

.col-md-3 {
    flex: 0 0 30%;
    max-width: 30%;
}
.col-xl-7 {
    flex: 0 0 53.33333%;
    max-width: 53.33333%;
  }

.bd-toc {
    padding-top: 5em;
}


nav.bd-links ul li.toctree-l1 > a {
  font-size: .90rem;
}

nav.bd-links ul li.toctree-l2 > a {
    font-size: .85rem;
    text-indent: 1px;
}
nav.bd-links ul li.toctree-l3 > a {
    font-size: .85rem;
    text-indent: 2px;
}

nav.bd-links ul li.toctree-l4 > a {
    font-size: .8rem;
    text-indent: 3px;
}
