name: Documentation Build

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  schedule:  # Build and deploy dev docs nightly
    - cron:  '0 4 * * *'

jobs:
  docs_build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.8

      - name: Install pyaedt
        run: |
          pip install .

      - name: Install doc build requirements
        run: |
          pip install -r requirements_docs.txt

      - name: Run Doctest
        run: |
          pytest -v pyaedt/desktop.py -p no:faulthandler

      # this will only run on cron jobs to avoid saturating the queue
      - name: Full Documentation Build
        if: github.event_name != 'push' && startsWith(github.event.ref, 'refs/heads/main')
        run: |
          make -C doc phtml
          touch doc/_build/html/.nojekyll
          echo "dev.aedtdocs.pyansys.com" >> doc/_build/html/CNAME

      - name: Partial Documentation Build
        if: startsWith(github.event.ref, 'refs/heads/main') != true
        run: |
          make -C doc html
        env:
          PYAEDT_CI_NO_AUTODOC: True

      - name: Upload Documentation
        uses: actions/upload-artifact@v2.2.3
        with:
          name: Documentation
          path: doc/_build/html
          retention-days: 7

      # Deploys only on cron-job nightly builds
      - name: Deploy
        if: github.event_name != 'push' && startsWith(github.event.ref, 'refs/heads/main')
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          repository-name: pyansys/pyaedt-dev-docs
          branch: gh-pages
          folder: doc/_build/html/
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          clean: true
