name: GitHub CI CD
on:
  pull_request:
    # GitHub default types + ready_for_review to trigger the workflow on PRs no longer in draft mode.
    # See https://github.com/ansys/pyaedt/issues/5223 for more information
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:

env:
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER) }}
  MAIN_PYTHON_VERSION: '3.13'
  TESTS_VERSION: '3.10'
  PACKAGE_NAME: 'PyAEDT'
  DOCUMENTATION_CNAME: 'aedt.docs.pyansys.com'
  ON_CI: True
  PYTEST_ARGUMENTS: -vvv --color=yes -ra --durations=25 --maxfail=10 --junitxml=junit/test-results.xml --testmon
  PYTEST_ARGUMENTS_NON_TESTMON: -vvv --color=yes -ra --durations=25 --maxfail=10 --junitxml=junit/test-results.xml
  PYAEDT_LOCAL_SETTINGS_PATH: 'tests/pyaedt_settings.yaml'
  TESTMON_DATAFILE: '.testmondata'
  TESTMON_CACHE_KEY_SOLVERS_WIN: 'testmondata-solvers-win'
  TESTMON_CACHE_KEY_SOLVERS_LINUX: 'testmondata-solvers-linux'
  TESTMON_CACHE_KEY_GENERAL_WIN: 'testmondata-general-win'
  TESTMON_CACHE_KEY_GENERAL_LINUX: 'testmondata-general-linux'
  TESTMON_CACHE_KEY_VISUALIZATION_WIN: 'testmondata-visualization-win'
  TESTMON_CACHE_KEY_VISUALIZATION_LINUX: 'testmondata-visualization-linux'
  TESTMON_CACHE_KEY_ICEPAK_WIN: 'testmondata-icepak-win'
  TESTMON_CACHE_KEY_ICEPAK_LINUX: 'testmondata-icepak-linux'
  TESTMON_CACHE_KEY_LAYOUT_WIN: 'testmondata-layout-win'
  TESTMON_CACHE_KEY_LAYOUT_LINUX: 'testmondata-layout-linux'
  TESTMON_CACHE_KEY_FILTER_WIN: 'testmondata-filter-win'
  TESTMON_CACHE_KEY_EMIT_WIN: 'testmondata-emit-win'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Disable all default permissions at workflow level for security (least privilege principle)
# Individual jobs will explicitly request only the permissions they need
permissions: {}

jobs:


  testing-prek:
    name: Testing prek changes
    runs-on: ubuntu-latest
    permissions:
      contents: read   # Required to read documentation files for style checking
    steps:
      - name: Check code style
        uses: ansys/actions/code-style@refactor/use-prek-as-pre-commit-alternative
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          use-python-cache: false
          use-prek: true

  testing-pre-commit:
    name: Testing pre-commit
    runs-on: ubuntu-latest
    permissions:
      contents: read   # Required to read documentation files for style checking
    steps:
      - name: Check code style
        uses: ansys/actions/code-style@refactor/use-prek-as-pre-commit-alternative
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          use-python-cache: false
          use-prek: false
