name: GitHub CI CD
on:
  pull_request:
    # GitHub default types + ready_for_review to trigger the workflow on PRs no longer in draft mode.
    # See https://github.com/ansys/pyaedt/issues/5223 for more information
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:
  push:
    tags:
      - "*"

env:
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER) }}
  MAIN_PYTHON_VERSION: '3.13'
  TESTS_VERSION: '3.10'
  PACKAGE_NAME: 'PyAEDT'
  DOCUMENTATION_CNAME: 'aedt.docs.pyansys.com'
  ON_CI: True
  PYTEST_ARGUMENTS: -vvv --color=yes -ra --durations=25 --maxfail=10 --cov=ansys.aedt.core --cov-report=html --cov-report=xml --junitxml=junit/test-results.xml --testmon
  PYAEDT_LOCAL_SETTINGS_PATH: 'tests/pyaedt_settings.yaml'
  TESTMON_DATAFILE: '.testmondata'
  TESTMON_CACHE_KEY_UNIT_LINUX: 'testmondata-unit-linux'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Disable all default permissions at workflow level for security (least privilege principle)
# Individual jobs will explicitly request only the permissions they need
permissions: {}

jobs:

  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Wait for master cache update
        uses: ./.github/actions/check-cache

      - name: Restore testmondata cache
        uses: ./.github/actions/testmon-cache
        with:
          testmon-datafile: ${{ env.TESTMON_DATAFILE }}
          cache-key: ${{ env.TESTMON_CACHE_KEY_UNIT_LINUX }}

      - name: Run unit tests
        uses: ansys/actions/tests-pytest@41f86da4c9ead510db9135e428e33df9cc6f92e1 # v10.2.3
        with:
          pytest-postargs: 'tests/unit'
          pytest-extra-args: ${{ env.PYTEST_ARGUMENTS }}
          python-version: ${{ env.TESTS_VERSION }}
          optional-dependencies-name: unit-tests
          requires-xvfb: true

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          name: codecov-unit-tests
          files: ./coverage.xml
          flags: linux_unit

      - name: Upload pytest test results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: pytest-unit
          path: junit/test-results.xml
        if: ${{ always() }}
