# This is a basic workflow to help you get started with Actions

name: FullDocumentation

env:
  python.version: 3.8
  python.venv: 'testvenv'
  DOCUMENTATION_CNAME: 'aedt.docs.pyansys.com'
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    tags:
     - v*
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  full_documentation:
    # The type of runner that the job will run on
    name: full_documentation
    runs-on: [Windows, pyaedt]
    strategy:
      matrix:
        python-version: [3.8]
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v3

      # used for documentation deployment
      - name: Get Bot Application Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@v2
        with:
          application_id: ${{ secrets.BOT_APPLICATION_ID }}
          application_private_key: ${{ secrets.BOT_APPLICATION_PRIVATE_KEY }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: 'Create virtual env'
        run: |
          python -m venv testenv
          testenv\Scripts\Activate.ps1
          python -m pip install pip -U
          python -m pip install wheel setuptools -U
          python -c "import sys; print(sys.executable)"

      - name: 'Install pyaedt'
        run: |
          testenv\Scripts\Activate.ps1
          pip install -r requirements/requirements.txt
          pip install -r requirements/requirements_docs.txt
          Copy-Item -Path "C:\actions-runner\opengl32.dll" -Destination "testenv\Lib\site-packages\vtkmodules" -Force

      - name: Retrieve PyAEDT version
        id: version
        run: |
          testenv\Scripts\Activate.ps1
          echo "::set-output name=PYAEDT_VERSION::$(python -c "from pyaedt import __version__; print(__version__)")"
          echo "PyAEDT version is: $(python -c "from pyaedt import __version__; print(__version__)")"


        #if: startsWith(github.event.ref, 'refs/heads/main') != true

      - name: 'Create Documentations'
        run: |
          testenv\Scripts\Activate.ps1
          sphinx-build -j auto -b html -a doc/source doc/_build/html 

      - name: "Upload HTML documentation artifact"
        uses: actions/upload-artifact@v3
        with:
          name: documentation-html
          path: doc/_build/html
          retention-days: 7

  doc-deploy-stable:
    name: "Deploy stable documentation"
    runs-on: ubuntu-latest
    needs: full_documentation
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
    steps:
      - name: "Deploy the stable documentation"
        uses: pyansys/actions/doc-deploy-stable@v3
        with:
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          python-version: ${{ matrix.python-version }}


  full_documentation_json:
    # The type of runner that the job will run on
    name: full_documentation_json
    # needs: [full_documentation]
    runs-on: [Windows, pyaedt]
    strategy:
      matrix:
        python-version: [3.8]
    steps:
      - uses: actions/checkout@v3

      # used for documentation deployment
      - name: Get Bot Application Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@v2
        with:
          application_id: ${{ secrets.BOT_APPLICATION_ID }}
          application_private_key: ${{ secrets.BOT_APPLICATION_PRIVATE_KEY }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: 'Install requirements'
        run: |
          python -m venv jsondoc
          jsondoc\Scripts\Activate.ps1
          python -m pip install pip -U
          python -m pip install wheel setuptools -U
          python -c "import sys; print(sys.executable)"
          pip install .
          pip install -r requirements/requirements.txt
          pip install -r requirements/requirements_docs.txt
          Copy-Item -Path "C:\actions-runner\opengl32.dll" -Destination "jsondoc\Lib\site-packages\vtkmodules" -Force

      - name: Build json documentation
        run: |
          # Export the documentation files to JSON files.
          jsondoc\Scripts\Activate.ps1
          echo "PYAEDT_VERSION=$(python -c "from pyaedt import __version__; print(__version__)")" >> $env:GITHUB_ENV
          echo PYAEDT_VERSION=$(python -c "from pyaedt import __version__; print(__version__)")

      - name: Build json files
        run: |
          jsondoc\Scripts\Activate.ps1
          sphinx-build -M json doc/source doc-json -j auto -D release=${{ env.PYAEDT_VERSION }} -D version=${{ env.PYAEDT_VERSION }} -w build_errors.txt -N;

      - name: Flatten the generated nested files into a single directory
        run: |
          echo Flattening a nested directory
          mkdir -p pyaedt-doc-flatten-json;
          # Move all the JSON file to the flatten directory.
          JSON_FILES=$(find doc-json/json -type f -name "*.fjson" -o -name "*.json*");
          for filename in $JSON_FILES
          do
              x=${filename#./};
              y=${x// /-};
              mv -n ${x// /\ } "./pyaedt-doc-flatten-json/${y////-}";
          done
          # echo Make sure all the file has .json extensions instead of the .fjson
          # for file in pyaedt-doc-flatten-json/*.fjson ; do mv -- "$file" "${file%.fjson}.json" ; done;
          # Move all static image files to the JSON flatten folder.
          mv -n doc-json/json/_images pyaedt-doc-flatten-json/_images;
        shell: bash

      - name: zip the flattened JSON directory
        run: |
          Compress-Archive -Path pyaedt-doc-flatten-json\* -DestinationPath pyaedt-doc-flatten-json.zip

      - name: move the generated documentation.
        run: |
          mkdir doc-flatten-json
          mv pyaedt-doc-flatten-json.zip doc-flatten-json
          # echo Clean up build directories after the process is completed.
          rm -rf doc-json
        shell: bash

      - name: Upload json Documentation
        uses: actions/upload-artifact@v3
        with:
          name: pyaedt-doc-flatten-json
          path: pyaedt-doc-flatten-json
          retention-days: 7

      # Verify that sphinx generates no warnings
      - name: Check for warnings
        run: |
          python doc/print_errors.py

  # The "deploy" action is primarily developed using Ubuntu.
  # As a workaround, we are using the artifacts generated from a Windows build agent.
  deploy_json-documentation:
    name: deploy_documentation_json
    needs: [full_documentation_json]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download Artifacts 
        uses: actions/download-artifact@v3
        with:
          name: pyaedt-doc-flatten-json
          path: json_artifacts

      # used for documentation deployment
      - name: Get Bot Application Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@v2
        with:
          application_id: ${{ secrets.BOT_APPLICATION_ID }}
          application_private_key: ${{ secrets.BOT_APPLICATION_PRIVATE_KEY }}

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.4.0
        with:
          repository-name: pyansys/devportal-doc-archive
          branch: drupal
          folder: json_artifacts
          token: ${{ steps.get_workflow_token.outputs.token }}
          clean: false
