# This is a basic workflow to help you get started with Actions

name: Linux_Ironpython_UnitTests


# Controls when the workflow will run
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
      tags:
        description: 'Linux Ironpython Manual Trigger'
  schedule:  # UTC at 0400
    - cron:  '0 4 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [Linux, pyaedt]
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2

      - name: 'Run Unit Tests in Ironpython'
        run: |
          export DISPLAY="127.0.0.1:1"
          chmod 777 _unittest_ironpython/run_unittests_batchmode_linux.cmd
          timeout -k 3600s 3600s ./_unittest_ironpython/run_unittests_batchmode_linux.cmd
          if [ $? -eq 124 ] ; then
            echo "ERROR: Timeout while waiting for the file _unittest_ironpython/tests_succeeded.log."
            exit 1
          else
            cat _unittest_ironpython/runner_unittest.log
            exit 0
          fi



