name: Update Testmon Cache on Merge

on:
  pull_request:
    types:
      - closed
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

env:
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER) }}
  ON_CI: True
  PYTEST_ARGUMENTS: -vvv --color=yes -ra --durations=25 --maxfail=10 --cov=ansys.aedt.core --cov-report=html --cov-report=xml --junitxml=junit/test-results.xml --testmon
  PYAEDT_LOCAL_SETTINGS_PATH: 'tests/pyaedt_settings.yaml'
  TESTMON_DATAFILE: '.testmondata'
  TESTMON_CACHE_KEY_UNIT_LINUX: 'testmondata-unit-linux'

jobs:
  # ------------------------------------------------------------------
  # UNIT TESTS CACHE UPDATE (LINUX)
  # ------------------------------------------------------------------
  update-unit-linux:
    name: Update unit test cache (Linux)
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to save cache
    env:
      TESTS_VERSION: '3.10'
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Restore testmon cache
        uses: ./.github/actions/testmon-cache
        with:
          testmon-datafile: ${{ env.TESTMON_DATAFILE }}
          cache-key: ${{ env.TESTMON_CACHE_KEY_UNIT_LINUX }}

      - name: Run unit tests
        uses: ansys/actions/tests-pytest@41f86da4c9ead510db9135e428e33df9cc6f92e1 # v10.2.3
        with:
          pytest-postargs: 'tests/unit'
          pytest-extra-args: ${{ env.PYTEST_ARGUMENTS }}
          python-version: ${{ env.TESTS_VERSION }}
          optional-dependencies-name: unit-tests
          requires-xvfb: true

      - name: Prepare testmon data for caching
        run: python -c "import sqlite3; conn = sqlite3.connect('.testmondata'); conn.execute('PRAGMA journal_mode = OFF'); conn.close()"

      - name: Delete old testmon caches
        shell: bash
        run: |
          gh cache list --key ${CACHE_KEY}-main- --json key --jq '.[].key' | xargs -I {} gh cache delete {} || true
        env:
          CACHE_KEY: ${{ env.TESTMON_CACHE_KEY_UNIT_LINUX }}
          GH_TOKEN: ${{ github.token }}

      - name: Save updated testmon cache
        uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ${{ env.TESTMON_DATAFILE }}
          key: ${{ env.TESTMON_CACHE_KEY_UNIT_LINUX }}-main-${{ github.sha }}
